<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=emulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/sapar.css" />
<link rel="stylesheet" type="text/css" href="/static/css/common.css" />
<link rel="stylesheet" type="text/css" href="/static/static/ticket/css/my_order.css" />
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/sapar.js"></script>
<script type="text/javascript" src="/static/js/WdatePicker.js"></script>
<title>我的订单</title>
</head>

<body>
    <div id="saper-container">
        <div id="saper-hd"></div>
        <div id="saper-bd">
            <div class="subfiled clearfix">
                <h2>可付款火车票订单</h2>
            </div>
            <div class="subfiled-content">

                <!--表格开始-->
                <div class="table">

                    <!--表格具体内容-->
                    <div class="table-box">
                        <table>
                            <thead>
                                <tr>
                                    <th>订单号</th>
                                    <th>PNR</th>
                                    <th>航班号</th>
                                    <th>起飞时间</th>
                                    <th>行程</th>
                                    <th>乘机人</th>
                                    <th>总价</th>
                                    <th>政策</th>
                                    <th>应付</th>
                                    <th>操作人</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--<tr>-->
                                    <!--<td><a class="blue bold" href="javascript:;">141212297794</a><p class="red bold">[促销]</p></td>-->
                                    <!--<td>HZ7T6L</td>-->
                                    <!--<td>GS7482</td>-->
                                    <!--<td>2014-12-13</td>-->
                                    <!--<td><p>阿克苏</p><p>乌鲁木齐</p></td>-->
                                    <!--<td>111</td>-->
                                    <!--<td>¥1060.0</td>-->
                                    <!--<td><p class="orange bold">6.6%</p>¥62.7</td>-->
                                    <!--<td><p class="orange bold">¥997.3</p></td>-->
                                    <!--<td>222</td>-->
                                    <!--<td><p>2014-12-12</p><p>13:35:34</p></td>-->
                                    <!--<td><a href="https://www.12306.cn/index/">[去支付]</a><a href="javascript:;">[撤销]</a></td>-->
                                <!--</tr>-->
                                <!--<tr style="background-color: #EFF6FA;">-->
                                    <!--<td><a class="blue bold" href="javascript:;">141212297794</a><p class="red bold">[促销]</p></td>-->
                                    <!--<td>HZ7T6L</td>-->
                                    <!--<td>GS7482</td>-->
                                    <!--<td>2014-12-13</td>-->
                                    <!--<td><p>阿克苏</p><p>乌鲁木齐</p></td>-->
                                    <!--<td>111</td>-->
                                    <!--<td>¥1060.0</td>-->
                                    <!--<td><p class="orange bold">6.6%</p>¥62.7</td>-->
                                    <!--<td><p class="orange bold">¥997.3</p></td>-->
                                    <!--<td>222</td>-->
                                    <!--<td><p>2014-12-12</p><p>13:35:34</p></td>-->
                                    <!--<td><a href="https://www.12306.cn/index/">[去支付]</a><a href="javascript:;">[撤销]</a></td>-->
                                <!--</tr>-->
                            </tbody>
                        </table>
                    </div>
                </div><!--表格结束-->
            </div>
        </div>
        <div id="saper-ft"></div>
    </div>
    
</body>

<script type="text/javascript">
$('select').iSelect();
</script>
</html>